#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  min-height: 30vh;
  background-image: linear-gradient(to right, #355C7D,#6C5B7B,#C06C84);
  width: 500px;
  padding: 40px 50px;
  text-align: center;
}

